<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
                <npcheckout>
                <active>1</active>
                <title>NashLink</title>
                <order_status>pending_payment</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Nashlink\NPCheckout\Model\NPCheckout</model>
                <group>offline</group>
            </npcheckout>
            <!-- payment-config -->
        </payment>
    </default>
</config>
